<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Situation Recognition : Visual Semantic Role Lableling">
    <meta name="author" content="Mark Yatskar">

    <title>imSitu</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>

    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><a href="/">imSitu</a></h1>
      </div>
      <h4> Recognize Situations </h4>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-sm-12" style="text-align:center"> Try these examples... </div>
        </div>
        <div class="row-fluid">
          <div class="col-sm-12" style="text-align:center">&nbsp; </div>
        </div>
         <div class="row-fluid">
          <div class="col-sm-offset-2 col-sm-2" style="text-align:center"><a href="/classify_url?imageurl=http://s3.amazonaws.com/my89-frame-annotation/public/example/brushing.jpg"><img width="100px" height="100px" src="https://s3.amazonaws.com/my89-frame-annotation/public/example/brushing.jpg"></a></div>
 	  <div class="col-sm-2" style="text-align:center"><a href="/classify_url?imageurl=http://s3.amazonaws.com/my89-frame-annotation/public/example/clinging.jpg"><img width="100px" height="100px"  src="https://s3.amazonaws.com/my89-frame-annotation/public/example/clinging.jpg"></a></div>
 	  <div class="col-sm-2" style="text-align:center"><a href="/classify_url?imageurl=http://s3.amazonaws.com/my89-frame-annotation/public/example/falling.jpg"><img width="100px" height="100px"  src="https://s3.amazonaws.com/my89-frame-annotation/public/example/falling.jpg"></a></div>
	  <div class="col-sm-2" style="text-align:center"><a href="/classify_url?imageurl=http://s3.amazonaws.com/my89-frame-annotation/public/example/feeding.jpg"><img width="100px" height="100px"  src="https://s3.amazonaws.com/my89-frame-annotation/public/example/feeding.jpg"></a></div>
        </div>
         <div class="row-fluid">
          <div class="col-sm-12" style="text-align:center">&nbsp; </div>
        </div>
      </div>
      <form role="form" action="classify_url" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Provide an image URL to recognize">
            <span class="input-group-btn">
              <input class="btn btn-primary" value="Classify URL" type="submit" id="classifyurl"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>

      <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">Or upload an image to recognize:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
        <!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
      </form>

      {% if has_result %}
      {% if not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
      {% else %}
      <hr> 
      <div class="container-fluid media">
	<div class="row-fluid">
	  <div class="col-sm-3">
            <div class="row-fluid">
              <div class="col-sm-12"><img class="img-responsive" src={{ imagesrc }}></div>
       	    </div>
            <div class="row-fluid">
	      <div class="col-sm-12">&nbsp;</div>
	    </div>
 	    <div class="row-fluid">
	      <div class="col-sm-12" style="text-align:center">Similar in imSitu:</div>
 	    </div>
            <div class="row-fluid center-block">
		{% for single_pred in result[2] %}
		{% if loop.index0 < 4 %}  
		<div class="row-fluid"><div class="col-sm-offset-2 col-sm-8"><img class="img-responsive" src= {{ single_pred[4] }}></img></div></div>
		{% endif %}
		{% endfor %}
            </div>
           </div>
	  <div class="col-sm-9">
                  <ul class="list-group" style="text-align: center">
                  {% for single_pred in result[2] %}
                  <li class="list-group-item">
		  <span class="pull-right"> {{single_pred[3]}} </span>
		  <table class="table-responsive" width=85% border=1>
		  <tr>
		    <td colspan={{single_pred[1]|length}} style="background-color:#8AD2E7">{{ single_pred[0] }}</td>
		  </tr>		  
		  <tr>
                    {% for v in single_pred[1] %}
		      <td style="background-color:#EEE;"> {{ v[0] }} </td>
                    {% endfor %}
		  </tr>
		  <tr>
                    {% for v in single_pred[1] %}
		       <td> {{ v[1] }} </td>
                    {% endfor %}
		  </tr>
                  </table>
                  </li>
                   {% endfor %}
                </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <hr>
      {% endif %}

          </div>

    <hr>
    <div id="footer">
      <div class="container">
      </div>
   </div>
 </body>
</html>
